<!-- PRELOADER SPINNER
		============================================= -->
<div id="loader-wrapper">
	<div id="loader">
		<div class="cssload-spinner">
			<div class="cssload-ball cssload-ball-1"></div>
			<div class="cssload-ball cssload-ball-2"></div>
			<div class="cssload-ball cssload-ball-3"></div>
			<div class="cssload-ball cssload-ball-4"></div>
		</div>
	</div>
</div>




<header id="header-3" class="header navik-header header-transparent header-shadow viewport-lg header-transparent-on" style="margin-top: 0px;">
	<div class="container">


		<!-- NAVIGATION MENU -->
		<div class="navik-header-container">


			<!-- CALL BUTTON -->
			<div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>

			
			<!-- LOGO IMAGE -->
			<div class="logo" data-mobile-logo="../../../assets/images/logo-01.png" data-sticky-logo="../../../assets/images/logo-01.png">
				<a routerLink="/"><img src="../../../assets/images/logo-01.png" alt="header-logo"></a>
			</div>

			
			<!-- BURGER MENU -->
			<div class="burger-menu">
				<div class="line-menu line-half first-line"></div>
				<div class="line-menu"></div>
				<div class="line-menu line-half last-line"></div>
			</div>


			<!-- MAIN MENU -->
			<nav class="navik-menu menu-caret navik-yellow">
				<ul class="top-list">
					<li class=""><a routerLink="/">Home<span></span></a>
					</li>
					<!-- DROPDOWN MENU -->
					<li class=""><a routerLink="about">About<span></span></a>
						</li>



					<!-- DROPDOWN MENU -->
					<li class="" >
						<a routerLink="shop">Shop</a>
					
							<ul *ngIf="categories&& categories.length">
								<li class="h-100" *ngFor="let item of categories"><a [routerLink]="['/shop',item.id]">{{item.name}}</a></li>
							</ul>
					
					</li>

					
					
					<!-- DROPDOWN MENU -->
					<li class=""><a routerLink="contact">Contacts<span></span></a></li>
					
					<li class=""><a routerLink="dangnhap">SignIn</a>
					</li>
					<!-- BASKET ICON -->
					<li class="basket-ico ico-30">
						<a href="cart">
							<span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
						</a>
					</li>

				</ul>
			</nav>	<!-- END MAIN MENU -->


		</div>	<!-- END NAVIGATION MENU -->


	</div>     <!-- End container -->
<div class="header-shadow-wrapper"></div></header>