		<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">




			<!-- PAGE HERO
			============================================= -->	
			<div id="about-page" class="page-hero-section division">
				<div class="container">	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1">
							<div class="hero-txt text-center white-color">

								<!-- Breadcrumb -->
								<div id="breadcrumb">
									<div class="row">						
										<div class="col">
											<div class="breadcrumb-nav">
												<nav aria-label="breadcrumb">
												  	<ol class="breadcrumb">
												    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
												    	<li class="breadcrumb-item active" aria-current="page">About Us</li>
												  	</ol>
												</nav>
											</div>
										</div>
									</div> 
								</div>

								<!-- Title -->
								<h2 class="h2-xl">About Testo</h2>

							</div>
						</div>	
					</div>	  <!-- End row -->
				</div>	   <!-- End container --> 
			</div>	<!-- END PAGE HERO -->	




			<!-- ABOUT-3
			============================================= -->
			<section id="about-3" class="wide-60 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- ABOUT IMAGE -->
						<div class="col-md-5 col-lg-6">
							<div class="about-3-img text-center mb-40">
								<img class="img-fluid" src="./assets/images/about-01-img.png" alt="about-image">
							</div>
						</div>


						<!-- ABOUT TEXT -->
						<div class="col-md-7 col-lg-6">
							<div class="about-3-txt mb-40">

								<!-- Title -->	
								<h2 class="h2-sm">KHÔNG CÓ GÌ MANG MỌI NGƯỜI VỚI NHAU NHƯ BÁNH BURGER NGON</h2>

								<!-- Text -->
								<p class="p-md">Mang đến sự phát triển đầu tiên và sự tiến bộ. Nó tạo ra sự thoải mái và niềm vui. Nơi đó là nơi để khám phá và trải nghiệm những điều tuyệt vời trong cuộc sống. Nó mang đến sự độc đáo và sự sáng tạo. Nó làm tăng sự hứng khởi và làm nổi bật những giá trị quan trọng. Nó là nơi để tạo nên sự cân bằng và sự tự do.
								</p>

								<!-- List -->	
								<ul class="txt-list">

									<li class="list-item">
										<p class="p-md">Tìm kiếm sự trải nghiệm, sự tiến bộ, sự tiếp cận mới.
										</p>
									</li>

									<li class="list-item">
										<p class="p-md">Luôn quan tâm tới ý kiến và góp ý của khách hàng</p>
									</li>
								</ul>

							</div>
						</div>	<!-- END ABOUT TEXT -->	


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END ABOUT-3 -->




			<!-- ABOUT-1
			============================================= -->
			<section id="about-1" class="bg-fixed wide-100 about-section division">
				<div class="container">
					<div class="row">


						<!-- ABOUT TEXT -->
						<div class="col-xl-10 offset-xl-1">
							<div class="about-1-txt text-center">

								<!-- Title -->
								<h2><span class="yellow-color">
									BURGERS…</span> GÌ KHÁC?</h2>

								<!-- Text -->
								<p class="p-xl grey-color">Ở đây bạn có rất nhiều lựa chọn cho riêng mình 
								</p>

								<!-- Icons List -->	
								<div class="abox-1-wrapper ico-75">
									<div class="row">

										<!-- ABOUT BOX #1 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-burger"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Burgers</h6>

											</div>
										</div>

										<!-- ABOUT BOX #2 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-french-fries"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Fries</h6>

											</div>
										</div>

										<!-- ABOUT BOX #3 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-fried-chicken"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Chicken</h6>

											</div>
										</div>

										<!-- ABOUT BOX #4 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-salad"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Salads</h6>

											</div>
										</div>

										<!-- ABOUT BOX #5 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-donut"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Desserts</h6>

											</div>
										</div>

										<!-- ABOUT BOX #6 -->		
										<div class="col-sm-4 col-md-2">
											<div class="abox-1 mb-40">

												<!-- Icon --> 
												<div class="abox-1-ico grey-color"><span class="flaticon-drinks"></span></div>

												<!-- Text -->
												<h6 class="h6-xl">Drinks</h6>

											</div>
										</div>

									</div>
								</div>	<!-- End Icons List -->

								<!-- Button -->
								<a href="shop" class="btn btn-md btn-warning text-white">Explore Full Menu</a>

							</div>
						</div>	<!-- END ABOUT TEXT -->


					</div>    <!-- End row -->
				</div>	   <!-- End container -->	
			</section>	<!-- END ABOUT-1 -->




			<!-- ABOUT-4
			============================================= -->
			<section id="about-4" class="wide-60 about-section division">
				<div class="container">
					<div class="row">


						<!-- ABOUT TEXT -->
						<div class="col-md-7 col-lg-6">
							<div class="about-4-txt mb-40">

								<!-- Title -->	
								<h2 class="h2-sm">KHÁM PHÁ HƯƠNG VỊ MỚI CỦA BURGER</h2>

								<!-- Text -->
								<p class="p-md grey-color">Cổng luôn mở, mang đến sự tiến bộ, và sự phát triển đầu tiên. Nó làm tăng sự sáng tạo, và đưa ra những ý tưởng mới. Nó cung cấp sự thoải mái và niềm vui, mang lại những trải nghiệm đáng nhớ và tạo ra một không gian đáng sống.
								</p>

								<!-- Image -->
								<img class="img-fluid" src="./assets/images/img-10.jpg" alt="about-image">

							</div>
						</div>	<!-- END ABOUT TEXT -->	


						<!-- ABOUT IMAGE -->
						<div class="col-md-5 col-lg-6">
							<div class="about-4-img mb-40">

								<!-- Image -->
								<img class="img-fluid" src="./assets/images/img-15.jpg" alt="about-image">

								<!-- Text -->
								<p class="p-md grey-color">Cổng luôn là nơi để khám phá, mang đến những trải nghiệm tuyệt vời và sự hứng khởi. Nó tạo ra sự độc đáo và sự sáng tạo, mang lại niềm vui và hạnh phúc. Nơi đó là nơi để tìm thấy sự cân bằng và trải nghiệm thú vị trong cuộc sống
								</p>

							</div>
						</div>


					</div>	   <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END ABOUT-4 -->




			<!-- PROMO-1
			============================================= -->
			<section id="promo-1" class="promo-section division">
				<div class="container-fluid">
					<div class="row d-flex align-items-center">


						<!-- PROMO BOX-1 -->
						<div class="col-md-4 col-lg-3">
							<div id="pb-1-1" class="pbox-1 bg-fixed">
								<div class="pbox-1-txt white-color">

									<h3 class="h3-sm">Nghề nghiệp</h3>
									<p class="p-lg">Bạn muốn gia nhập đội ngũ của chúng tôi?</p>
									<a href="team.html" class="btn btn-red tra-white-hover">Tìm Hiểu Thêm</a>

								</div>
							</div>
						</div>


						<!-- PROMO BOX-2 -->
						<div class="col-md-4 col-lg-6">
							<div id="pb-1-2" class="pbox-1 bg-fixed">
								<div class="pbox-1-txt white-color">

									<h3 class="h3-sm">ĐẶT HÀNG NGAY</h3>
									<p class="p-lg">Thưởng thức Testo Burgers tại nhà</p>
									<a href="menu-3.html" class="btn btn-red tra-white-hover">Tìm Hiểu Thêm</a>

								</div>
							</div>
						</div>


						<!-- PROMO BOX-3 -->
						<div class="col-md-4 col-lg-3">
							<div id="pb-1-3" class="pbox-1 bg-fixed">
								<div class="pbox-1-txt white-color">

									<h3 class="h3-sm">THẺ QUÀ TẶNG</h3>
									<p class="p-lg">Tặng quà Yummy!</p>
									<a href="gift-cards.html" class="btn btn-red tra-white-hover">Tìm Hiểu Thêm</a>

								</div>
							</div>
						</div>


					</div>    <!-- End row -->		
				</div>	   <!-- End container -->	
			</section>	<!-- END PROMO-1 -->








			<!-- NEWSLETTER-1
			============================================= -->
			<section id="newsletter-1" class="mb-20 newsletter-section division">
				<div class="container">
					<div class="inner-bg bg-lightgrey">
						<div class="row">


							<!-- NEWSLETTER FORM -->
							<div class="col-md-10 col-xl-8 offset-md-1 offset-xl-2">
								<div class="newsletter-txt text-center">

									<!-- Title -->
									<h3 class="h3-sm">ĐĂNG KÝ TIN</h3>

									<!-- Text -->
									<p class="p-md grey-color">Đăng ký nhận bản tin hàng tuần để biết tất cả các bản cập nhật mới nhất</p>

									<!-- Form -->
									<form class="newsletter-form">
												
										<div class="input-group">
											<input type="email" class="form-control" placeholder="Your email address" required id="s-email">								
											<span class="input-group-btn">
												<button type="submit" class="btn btn-warning text-white">Sign Up</button>
											</span>										
										</div>

										<!-- Newsletter Form Notification -->	
										<label for="s-email" class="form-notification"></label>
													
									</form>	

								</div>
							</div>	  <!-- END NEWSLETTER FORM -->


						</div>	 <!-- End row -->
					</div>    <!-- End Inner Bg -->	   
				</div>	   <!-- End container -->
			</section>	<!-- END NEWSLETTER-1 -->